<script>
    var PierApp = angular.module('Pier', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache']);
    PierApp.controller('piprctrl', function ($scope, $http, $interval, $timeout, $mdDialog) {

        $scope.showAlert = function (a, b) {
            $scope.isQuery = false;
            $mdDialog.show(
                $mdDialog.alert()
                    .parent(angular.element(document.querySelector('#popupContainer')))
                    .clickOutsideToClose(true)
                    .title(a)
                    .textContent(b)
                    .ariaLabel('Information')
                    .ok('GOT IT!')
                //.targetEvent(ev)
            );
        }

        $scope.getGataInfo = function () {

            $http.post("@Url.Action("GateInfo", "Home")", { FAB: "T2", AREA: "Receive" }).success(function (response) {
                if (response.Status == '200') {
                    $scope.GateInfo = response.Message;
                } else {
                    $scope.showAlert('Error', response.Message);
                }
            }).error(function (response) {
                //alert(response);
                $scope.showAlert('Error', response);
            });
        }
        $scope.getGataInfo();
        $interval(function () { $scope.getGataInfo(); }, 3000);
        //$timeout(function () { $scope.getGataInfo(); }, 100);
    });

</script>
<style>

</style>

<div class="col-md-10 col-md-offset-1" ng-app="Pier" ng-controller="piprctrl">
    <div class="panel panel-default">
        <div class="panel-heading">

            <h3 class="panel-title"><strong><i class="fa fa-Guest"></i>T2_收貨碼頭即時狀態</strong></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table table-condensed Tb_Css">

                        <tr  ng-repeat="eachGate in GateInfo">
                            <td>
                                <img src="~/Images/{{$index+1}}.png" class="img-responsive " alt="Responsive image">
                            </td>
                            <td>

                                <img src="~/Images/Guest.PNG" class="img-responsive " alt="Responsive image" ng-show="eachGate.CAR_TYPE=='Guest'">
                                <img src="~/Images/Truck.PNG" class="img-responsive " alt="Responsive image" ng-show="eachGate.CAR_TYPE=='Truck'">
                                <img src="~/Images/Container.PNG" class="img-responsive " alt="Responsive image" ng-show="eachGate.CAR_TYPE=='Container'">
                            </td>
                            <td>

                                <ul class="list-group">

                                    <li class="list-group-item" ng-show="eachGate.CAR_TYPE!='Container'">車牌
                                        <span class="label label-primary">{{eachGate.CAR_ID}}</span>

                                    </li>
                                    <li class="list-group-item" ng-show="eachGate.CAR_TYPE=='Container'">貨櫃號碼
                                        <span class="label label-primary">{{eachGate.CONTAINER_ID}}</span>

                                    </li>
                                    <li class="list-group-item " ng-show="eachGate.CAR_TYPE!='Container'">廠商
                                         <span class="label label-success">{{eachGate.VENDOR_NAME}}</span>
                                    </li>
                                    <li class="list-group-item " ng-show="eachGate.CONTAINER_STATUS !=''">貨櫃狀態
                                         <span class="label label-danger" ng-show=" eachGate.CONTAINER_STATUS=='NonEmpty'">重櫃</span>
                                        <span class="label label-warning" ng-show=" eachGate.CONTAINER_STATUS=='Empty'">空櫃</span>

                                    </li>

                                </ul>

                            </td>
                        </tr>
                        

                    </table>
                </div>



            </div>


        </div>
    </div>
</div>


